@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  background: #eeeded;
}
.materials-container-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
.materials-container-1:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.materials-container-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.materials-container-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.materials-container-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.materials-container-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
#id-card-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  width: 640px;
  height: 440px;
  background: #ffffff;
  display: block;
  position: relative;
  padding: 10px;
}
#id-card-content {
  height: 300px;
}
#id-card-header {
  width: 100%;
  height: 50px;
}
#id-card-footer {
  width: 100%;
  height: 90px;
}
#id-card-footer-content-left {
  float: left;
  width: 280px;
  height: 90px;
}
#id-card-pen-signature {
  width: 280px;
  height: 90px;
  cursor: pointer;
  border: 0px;
}
#id-card-footer-content-right {
  float: right;
  width: 360px;
  height: 90px;
}
#id-card-footer-info-left {
  float: left;
  width: 260px;
  height: 90px;
}
#id-card-footer-info-right {
  float: right;
  width: 100px;
  height: 90px;
}
#id-card-photo-container {
  width: 260px;
  height: 260px;
  display: block;
  margin: 10px;
}
#id-card-photo {
  width: 100%;
  height: 100%;
  background-color: #454545;
  background-image: url(assets/ic_person_24px.svg);
  background-size: 260px 260px;
}
#id-card-content-left {
  float: left;
  width: 280px;
  height: 300px;
}
#id-card-content-right {
  float: right;
  width: 360px;
  height: 300px;
}
#id-card-description-container {
  width: 340px;
  height: 280px;
  margin: 10px;
}
#id-card-popup {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  background: #ffffff;
  top: 50%;
  left: 50%;
  margin-top: -210px;
  margin-left: -310px;
  width: 620px;
  height: 420px;
  display: flex;
  flex-direction: column;
}
#id-card-header-title {
  float: left;
  width: 580px;
  height: 40px;
}
#id-card-popup-header-close {
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-card: #454545;
  background-image: url(assets/ic_close_24px.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
#id-card-popup > header {
  width: 620px;
  height: 40px;
}
#id-card-popup > footer {
  text-align: center;
  width: 620px;
  height: 40px;
}
#id-card-popup-qrcode {
  width: 50%;
  margin: 0 auto;
}
#id-card-popup > main {
  flex: 1;
}
#id-card-popup-accept {
  margin-right: 5px;
  color: #4285f4;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
#id-card-popup-close {
  margin-left: 5px;
  color: #454545;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
.id-card-desciption-label {
  display: inline-block;
  width: 75px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #454545;
}
.id-card-desciption-label-text {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #454545;
  margin-left: 5px;
  margin-right: 3px;
}
.label-break {
  margin-top: 25px;
}
.field-fixed-width {
  width: 75px;
}
.id-card-edit-image {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: #454545;
  background-image: url(assets/ic_mode_edit_24px.svg);
  background-size: 14px 14px;
  margin: 1px;
}
#id-card-qrcode {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
